body {
    background-color: #070707;
    color: #f2f1f3;
    font-family: "Fjalla One", Arial;
  }
  img {
    border: 0px solid #e9d9f1;
    border-radius: 500px;
    padding: 1px 100px 1px 100px;
    width: 4px fit-content;
  }
  a{
    border: 0px solid #e9d9f1;
    border-radius:0px;
    padding: 1px;
    width: 2px;
    min-height: 1px;
    max-height: 10px;
  }
  